In [2]:


import xarray as xr
import numpy as np
import pandas as pd
from datetime import date
today = date.today()


import re

In [3]:

# Read the Excel file into a pandas DataFrame
data = pd.read_excel('MIRAMARE_CO2-sensor.xlsx', header=0)
             
                    
cols=['Year_YYYY','Month_MM','Day_DD']
data['date'] = data[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

cols=['Hour_hh','Min_mm','Sec_ss']
data['time'] = data[cols].apply(lambda x: ':'.join(x.values.astype(str)), axis="columns")


data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fixed_Station   150 non-null    object
 1   Timestamp       150 non-null    int64
 2   Year_YYYY       150 non-null    int64
 3   Month_MM        150 non-null    int64
 4   Day_DD          150 non-null    int64
 5   Hour_hh         150 non-null    int64
 6   Min_mm          150 non-null    int64
 7   Sec_ss          150 non-null    int64
 8   Longitude       150 non-null    float64
 9   Latitude        150 non-null    float64
 10  Depth_dbar      150 non-null    int64
 11  T_SBE_degC      150 non-null    float64
 12  S_SBE           150 non-null    float64
 13  pCO2_raw_uatm   150 non-null    float64
 14  pCO2_corr_uatm  150 non-null    float64
 15  date            150 non-null    object
 16  time            150 non-null    object
 17  datetime        150 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(8), object(3)
memory usage: 21.2+ KB

In [4]:
data

,Fixed_Station,Timestamp,Year_YYYY,Month_MM,Day_DD,Hour_hh,Min_mm,Sec_ss,Longitude,Latitude,Depth_dbar,T_SBE_degC,S_SBE,pCO2_raw_uatm,pCO2_corr_uatm,date,time,datetime
0,MIRAMARE,1594904772,2020,7,16,13,0,0,13.708,45.689,2,-999.0000,-999.0000,442.955638,441.655638,2020-7-16,13:0:0,2020-07-16 13:00:00
1,MIRAMARE,1594908372,2020,7,16,14,0,0,13.708,45.689,2,-999.0000,-999.0000,445.238391,443.938391,2020-7-16,14:0:0,2020-07-16 14:00:00
2,MIRAMARE,1594912044,2020,7,16,15,0,0,13.708,45.689,2,-999.0000,-999.0000,444.142670,442.842670,2020-7-16,15:0:0,2020-07-16 15:00:00
3,MIRAMARE,1594915572,2020,7,16,16,0,0,13.708,45.689,2,-999.0000,-999.0000,438.146637,436.846637,2020-7-16,16:0:0,2020-07-16 16:00:00
4,MIRAMARE,1594919172,2020,7,16,17,0,0,13.708,45.689,2,-999.0000,-999.0000,443.188986,441.888986,2020-7-16,17:0:0,2020-07-16 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,MIRAMARE,1595448372,2020,7,22,20,0,0,13.708,45.689,2,23.5276,36.5525,424.507723,423.207723,2020-7-22,20:0:0,2020-07-22 20:00:00
146,MIRAMARE,1595452045,2020,7,22,21,0,0,13.708,45.689,2,22.9781,36.7148,422.202694,420.902694,2020-7-22,21:0:0,2020-07-22 21:00:00
147,MIRAMARE,1595455572,2020,7,22,22,0,0,13.708,45.689,2,22.4359,36.8822,421.886247,420.586247,2020-7-22,22:0:0,2020-07-22 22:00:00
148,MIRAMARE,1595459172,2020,7,22,23,0,0,13.708,45.689,2,22.2084,36.9936,425.176018,423.876018,2020-7-22,23:0:0,2020-07-22 23:00:00
149,MIRAMARE,1595462845,2020,7,23,0,0,0,13.708,45.689,2,22.2498,37.0147,425.935554,424.635554,2020-7-23,0:0:0,2020-07-23 00:00:00

In [5]:
# Iterate over each column in the DataFrame
data.columns = [re.sub(r'[-%/]', '_', col) for col in data.columns]

for column in data.columns:
    # Convert the column to a NumPy array
    np_array = data[column].to_numpy()
    
    # Convert the data type to int32 or float32
    if np_array.dtype == 'int64':
        np_array = np_array.astype('int32')
    elif np_array.dtype == 'float64':
        np_array = np_array.astype('float32')
    
    # Delete the old NumPy array if it exists
    if column in locals():
        del locals()[column]
    
    # Use the modified column name as the variable name
    globals()[column] = np_array

In [6]:
whos

Variable         Type         Data/Info
---------------------------------------
Day_DD           ndarray      150: 150 elems, type `int32`, 600 bytes
Depth_dbar       ndarray      150: 150 elems, type `int32`, 600 bytes
Fixed_Station    ndarray      150: 150 elems, type `object`, 1200 bytes
Hour_hh          ndarray      150: 150 elems, type `int32`, 600 bytes
Latitude         ndarray      150: 150 elems, type `float32`, 600 bytes
Longitude        ndarray      150: 150 elems, type `float32`, 600 bytes
Min_mm           ndarray      150: 150 elems, type `int32`, 600 bytes
Month_MM         ndarray      150: 150 elems, type `int32`, 600 bytes
S_SBE            ndarray      150: 150 elems, type `float32`, 600 bytes
Sec_ss           ndarray      150: 150 elems, type `int32`, 600 bytes
T_SBE_degC       ndarray      150: 150 elems, type `float32`, 600 bytes
Timestamp        ndarray      150: 150 elems, type `int32`, 600 bytes
Year_YYYY        ndarray      150: 150 elems, type `int32`, 600 bytes
cols             list         n=3
column           str          datetime
data             DataFrame        Fixed_Station   Times<...>\n[150 rows x 18 columns]
date             ndarray      150: 150 elems, type `object`, 1200 bytes
datetime         ndarray      150: 150 elems, type `datetime64[ns]`, 1200 bytes
np               module       <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
np_array         ndarray      150: 150 elems, type `datetime64[ns]`, 1200 bytes
pCO2_corr_uatm   ndarray      150: 150 elems, type `float32`, 600 bytes
pCO2_raw_uatm    ndarray      150: 150 elems, type `float32`, 600 bytes
pd               module       <module 'pandas' from '/h<...>ages/pandas/__init__.py'>
re               module       <module 're' from '/home/<...>da3/lib/python3.9/re.py'>
time             ndarray      150: 150 elems, type `object`, 1200 bytes
today            date         2023-07-12
xr               module       <module 'xarray' from '/h<...>ages/xarray/__init__.py'>

In [7]:
time=datetime
Lat=Latitude
Lon=Longitude
Pressure=Depth_dbar
Temperature=T_SBE_degC
Salinity=S_SBE
pCO2=pCO2_corr_uatm

In [8]:


ds=xr.Dataset(
    data_vars=dict(
      
        water_pressure=(["time"], Pressure,{"units": "dbar",
                                            "standard_name": "sea_water_pressure_due_to_sea_water",
                                            "short_name": "SW_pressure",
                                            "long_name": "Sea_water_pressure",
                                            "description": "Sea water pressure is the pressure that exists in the medium of sea water. It includes the pressure due to overlying sea water, sea ice, air and any other medium that may be present. ",
                                            "valid_min": "0",
                                            "valid_max": "6500",
                                            "missing_value": "-9999999",
                                            "axis": "time",
                                            "history": ""}),
        
        
        
        
        Temperature=(["time"], Temperature,{"units": "degree Celcius",
                                            "standard_name": "sea_water_temperature",
                                            "short_name": "SW_Temperature",
                                            "long_name": "Sea Water Temperature",
                                            "description": "Sea water temperature is the in situ temperature of the sea water",
                                            "valid_min": "-10",
                                            "valid_max": "100",
                                            "missing_value": "-9999999",
                                            "axis": "time",
                                            "history": ""}),
        
        
        
        Salinity=(["time"], Salinity,{"units": "psu",
                                            "standard_name": "sea_water_salinity",
                                            "short_name": "so",
                                            "long_name": "Sea Water Salinity",
                                            "description": "Sea water salinity is the salt content of sea water on the Practical Salinity Scale of 1978",
                                            "valid_min": "0",
                                            "valid_max": "100",
                                            "missing_value": "-9999999",
                                            "axis": "time",
                                            "history": ""}),
        
        
        pCO2=(["time"], pCO2,{"units": "uatm",
                                            "standard_name": "surface_partial_pressure_of_carbon_dioxide_in_sea_water",
                                            "short_name": "pCO2",
                                            "long_name": "Surface partial pressure of carbon dioxide in sea water",
                                            "description": "pCO2 in water logged by the Pro-Oceanus sensor",
                                            "valid_min": "0",
                                            "valid_max": "400",
                                            "missing_value": "-9999999",
                                            "axis": "time",
                                            "history": ""}),
        
        
    ),
    coords=dict(
    lon=(["lon"], Lon,{"units": "degrees East",
                                        "standard_name": "longitude",
                                        "short_name": "lon",
                                        "long_name": "Longitude",
                                        "description": "The Longitude represents the degrees east",
                                        "valid_min": "0",
                                        "valid_max": "360",
                                        "missing_value": "-9999999",
                                        "history": ""}),
                       
    lat=(["lat"], Lat,{"units": "degrees North",
                                        "standard_name": "latitude",
                                        "short_name": "lat",
                                        "long_name": "Latitude",
                                        "description": "The latitude represents the degrees north",
                                        "valid_min": "-90",
                                        "valid_max": "90",
                                        "missing_value": "-9999999",
                                        "history": ""}),
    time=time,
    reference_time=time[0],
)
)

In [9]:

ds.attrs['id']='DOI needed'

ds.attrs['naming_authority']='Istituto Nazionale di Oceanografia e Geofisica Sperimentale (OGS), Trieste, Italy '

ds.attrs['title'] = "MIRAMARE_CO2_sensor"

ds.attrs['summary']='The ATL2MED demonstration experiment took place in the North-East Atlantic between October 2019 and July 2020.During this time, two Salidrone vessels equipped with scientific instruments sailed from the North-East Atlantic Ocean to the Gulf of Trieste in the Mediterranean Sea. A number of fixed stations also took part in the experiment, e.g., DYFAMED, W1M3A, E2M3A, PALOMA, and MIRAMARE, which all were visited by the Saildorne vessels.'

ds.attrs['keywords']='Meteorology, CO2'
ds.attrs['keywords_vocabulary']='Temperature, Sea water pressure, Salinity, pCO2'

ds.attrs['geospatial_lat_min']=np.min(Lat)
ds.attrs['geospatial_lat_max']=np.max(Lat)
ds.attrs['geospatial_lon_miN']=np.min(Lon)
ds.attrs['geospatial_lon_max']=np.max(Lon)

ds.attrs['time_coverage_start']=str(np.min(time))
ds.attrs['time_coverage_end']=str(np.max(time))

ds.attrs['Conventions']='CF 1.11'

ds.attrs['processing_level']='LEVEL 2'

ds.attrs['date_created']=str(today)

ds.attrs['creator_type']='Group'
ds.attrs['creator_institution']='Geophysical Institute'
ds.attrs['creator_name']='Joan Mateu Horrach Pou'
ds.attrs['creator_email']='joan.pou@uib.no'
ds.attrs['creator_url']=''

ds.attrs['institution']='Geophysical Institute'

ds.attrs['publisher_name']='Joan Mateu Horrach Pou'
ds.attrs['publisher_email']='joan.pou@uib.no'
ds.attrs['publisher_url']='I need the url'

ds.attrs['project']='ICOS'

ds.attrs['platform']='MIRAMARE-sbe37 and Pro-Oceanus CO2-Pro'
ds.attrs['platform_vocabulary']='Station at 2 m depth'

ds.attrs['instrument']='MIRAMARE: CO2 (Pro-Oceanus CO2-Pro CV) at 2 m depth; SBE37SMPODO (Sea-Bird) at 2 m depth;'



ds.attrs['iso_topic_category']='Needed'
ds.attrs['activity_type']='in situ observation'
ds.attrs['operational_status']='active'

In [10]:
comp = dict(zlib=True, complevel=5)
encoding = {var: comp for var in ds.data_vars}
ds.to_netcdf('MIRAMARE_CO2_sensor.nc', encoding=encoding)