In [1]:


import xarray as xr
import numpy as np
import pandas as pd
from datetime import date
today = date.today()


import re

In [3]:

# Read the Excel file into a pandas DataFrame
data = pd.read_excel('MIRAMARE_SBE37ODO.xlsx', header=0)

,ID,Timestamp,Longitude,Latitude,T_SBE_degC,Cond_SBE_S/m,Date_SBE,Time_SBE,Date-Time,DO_mL/L,S_SBE
0,$SBE37O,1594512444,13.708,45.689,20.2203,5.07367,2020-07-12,00:00:03,2020-07-12 00:00:03,5.204,37.1265
1,$SBE37O,1594515972,13.708,45.689,20.5267,5.08674,2020-07-12,01:00:03,2020-07-12 01:00:03,5.210,36.9648
2,$SBE37O,1594519572,13.708,45.689,20.3441,5.07254,2020-07-12,02:00:03,2020-07-12 02:00:03,5.230,37.0083
3,$SBE37O,1594523244,13.708,45.689,20.6357,5.09687,2020-07-12,03:00:03,2020-07-12 03:00:03,5.180,36.9524
4,$SBE37O,1594526772,13.708,45.689,21.0049,5.11757,2020-07-12,04:00:03,2020-07-12 04:00:03,5.179,36.8001
...,...,...,...,...,...,...,...,...,...,...,...
242,$SBE37O,1595448371,13.708,45.689,23.5276,5.35660,2020-07-22,20:00:03,2020-07-22 20:00:03,5.383,36.5525
243,$SBE37O,1595452044,13.708,45.689,22.9781,5.31842,2020-07-22,21:00:03,2020-07-22 21:00:03,5.325,36.7148
244,$SBE37O,1595455572,13.708,45.689,22.4359,5.28139,2020-07-22,22:00:03,2020-07-22 22:00:03,5.350,36.8822
245,$SBE37O,1595459171,13.708,45.689,22.2084,5.27096,2020-07-22,23:00:03,2020-07-22 23:00:03,5.462,36.9936
246,$SBE37O,1595462844,13.708,45.689,22.2498,5.27810,2020-07-23,00:00:02,2020-07-23 00:00:02,5.455,37.0147

In [4]:
# Iterate over each column in the DataFrame
data.columns = [re.sub(r'[-%/]', '_', col) for col in data.columns]

for column in data.columns:
    # Convert the column to a NumPy array
    np_array = data[column].to_numpy()
    
    # Convert the data type to int32 or float32
    if np_array.dtype == 'int64':
        np_array = np_array.astype('int32')
    elif np_array.dtype == 'float64':
        np_array = np_array.astype('float32')
    
    # Delete the old NumPy array if it exists
    if column in locals():
        del locals()[column]
    
    # Use the modified column name as the variable name
    globals()[column] = np_array

In [5]:
whos

Variable       Type         Data/Info
-------------------------------------
Cond_SBE_S_m   ndarray      247: 247 elems, type `float32`, 988 bytes
DO_mL_L        ndarray      247: 247 elems, type `float32`, 988 bytes
Date_SBE       ndarray      247: 247 elems, type `datetime64[ns]`, 1976 bytes
Date_Time      ndarray      247: 247 elems, type `datetime64[ns]`, 1976 bytes
ID             ndarray      247: 247 elems, type `object`, 1976 bytes
Latitude       ndarray      247: 247 elems, type `float32`, 988 bytes
Longitude      ndarray      247: 247 elems, type `float32`, 988 bytes
S_SBE          ndarray      247: 247 elems, type `float32`, 988 bytes
T_SBE_degC     ndarray      247: 247 elems, type `float32`, 988 bytes
Time_SBE       ndarray      247: 247 elems, type `object`, 1976 bytes
Timestamp      ndarray      247: 247 elems, type `int32`, 988 bytes
column         str          S_SBE
data           DataFrame              ID   Timestamp <...>\n[247 rows x 11 columns]
date           type         <class 'datetime.date'>
np             module       <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
np_array       ndarray      247: 247 elems, type `float32`, 988 bytes
pd             module       <module 'pandas' from '/h<...>ages/pandas/__init__.py'>
re             module       <module 're' from '/home/<...>da3/lib/python3.9/re.py'>
today          date         2023-07-12
xr             module       <module 'xarray' from '/h<...>ages/xarray/__init__.py'>

In [8]:
time=Date_Time

Lat=Latitude
Lon=Longitude



Temperature=T_SBE_degC

Salinity=S_SBE

DO=DO_mL_L

In [9]:


ds=xr.Dataset(
    data_vars=dict(
      

        
        Temperature=(["time"], Temperature,{"units": "degree Celcius",
                                            "standard_name": "sea_water_temperature",
                                            "short_name": "SW_Temperature",
                                            "long_name": "Sea Water Temperature",
                                            "description": "Sea water temperature is the in situ temperature of the sea water",
                                            "valid_min": "-10",
                                            "valid_max": "100",
                                            "missing_value": "-9999999",
                                            "axis": "time",
                                            "history": ""}),
        
        
        
        Salinity=(["time"], Salinity,{"units": "psu",
                                            "standard_name": "sea_water_salinity",
                                            "short_name": "so",
                                            "long_name": "Sea Water Salinity",
                                            "description": "Sea water salinity is the salt content of sea water on the Practical Salinity Scale of 1978",
                                            "valid_min": "0",
                                            "valid_max": "100",
                                            "missing_value": "-9999999",
                                            "axis": "time",
                                            "history": ""}),
        
        
        Oxygen=(["time"], DO,{"units": "uatm",
                                            "standard_name": "mole_concentration_of_dissolved_molecular_oxygen_in_sea_water",
                                            "short_name": "DO",
                                            "long_name": "mole_concentration_of_dissolved_molecular_oxygen_in_sea_water",
                                            "description": "Molarity of dissolved Oxygen in sea water measured by SBE37DO",
                                            "valid_min": "0",
                                            "valid_max": "400",
                                            "missing_value": "-9999999",
                                            "axis": "time",
                                            "history": ""}),
        
        
    ),
    coords=dict(
    lon=(["lon"], Lon,{"units": "degrees East",
                                        "standard_name": "longitude",
                                        "short_name": "lon",
                                        "long_name": "Longitude",
                                        "description": "The Longitude represents the degrees east",
                                        "valid_min": "0",
                                        "valid_max": "360",
                                        "missing_value": "-9999999",
                                        "history": ""}),
                       
    lat=(["lat"], Lat,{"units": "degrees North",
                                        "standard_name": "latitude",
                                        "short_name": "lat",
                                        "long_name": "Latitude",
                                        "description": "The latitude represents the degrees north",
                                        "valid_min": "-90",
                                        "valid_max": "90",
                                        "missing_value": "-9999999",
                                        "history": ""}),
    time=time,
    reference_time=time[0],
)
)

In [10]:


ds.attrs['id']='DOI needed'

ds.attrs['naming_authority']='Istituto Nazionale di Oceanografia e Geofisica Sperimentale (OGS), Trieste, Italy '

ds.attrs['title'] = "MIRAMARE_SBE37"

ds.attrs['summary']='The ATL2MED demonstration experiment took place in the North-East Atlantic between October 2019 and July 2020.During this time, two Salidrone vessels equipped with scientific instruments sailed from the North-East Atlantic Ocean to the Gulf of Trieste in the Mediterranean Sea. A number of fixed stations also took part in the experiment, e.g., DYFAMED, W1M3A, E2M3A, PALOMA, and MIRAMARE, which all were visited by the Saildorne vessels.'

ds.attrs['keywords']='Hydrography'
ds.attrs['keywords_vocabulary']='Temperature, Salinity, DO'

ds.attrs['geospatial_lat_min']=np.min(Lat)
ds.attrs['geospatial_lat_max']=np.max(Lat)
ds.attrs['geospatial_lon_miN']=np.min(Lon)
ds.attrs['geospatial_lon_max']=np.max(Lon)

ds.attrs['time_coverage_start']=str(np.min(time))
ds.attrs['time_coverage_end']=str(np.max(time))

ds.attrs['Conventions']='CF 1.11'

ds.attrs['processing_level']='LEVEL 2'

ds.attrs['date_created']=str(today)

ds.attrs['creator_type']='Group'
ds.attrs['creator_institution']='Geophysical Institute'
ds.attrs['creator_name']='Joan Mateu Horrach Pou'
ds.attrs['creator_email']='joan.pou@uib.no'
ds.attrs['creator_url']=''

ds.attrs['institution']='Geophysical Institute'

ds.attrs['publisher_name']='Joan Mateu Horrach Pou'
ds.attrs['publisher_email']='joan.pou@uib.no'
ds.attrs['publisher_url']='I need the url'

ds.attrs['project']='ICOS'

ds.attrs['platform']='MIRAMARE'
ds.attrs['platform_vocabulary']='MIRAMARE_SBE37ODO'

ds.attrs['instrument']='SBE37ODO'


ds.attrs['iso_topic_category']='Needed'
ds.attrs['activity_type']='in situ observation'
ds.attrs['operational_status']='active'

In [11]:


comp = dict(zlib=True, complevel=5)
encoding = {var: comp for var in ds.data_vars}
ds.to_netcdf('MIRAMARE_SBE37ODO.nc', encoding=encoding)